@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');


.header {
    height: 100px;
}

.header-img {
    height: 100px;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px;
    
}
.title {
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
    padding: 20px;
    vertical-align: 45px;
}